<section>
  <div class="contact-card glass">
    <h2>Contact Us</h2>

    <p><strong>📍 Address:</strong><br>
      Near Siddeshwar Temple, Opp Sudhir Medical, Vijayapur
    </p>

    <p><strong>📞 Phone / WhatsApp:</strong><br>
      9945470269 / 9986122719
    </p>

    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.5658141981366!2d75.71319857514499!3d16.832879518542555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfee0bc2b98c913d%3A0x60c08bc42f915eb6!2sAi%20Computer%20Education%20Center%20Vijayapura!5e1!3m2!1sen!2sin!4v1770214092371!5m2!1sen!2sin"
      loading="lazy">
    </iframe>
  </div>
</section>
